<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>TalkSphere</h1>
    <% for(post of posts){%>
        <div class="post">
  <% if (post.photo) { %>
    <img src="<%= post.photo %>" alt="Post photo">
  <% } %>
  <div class="text-content">
    <h3 class="user">@<%=post.username %></h3>
    <h4 class="content"><%=post.content %></h4>
    <a href="/posts/<%=post.id%>">See in Detail</a>
    <a href="/posts/<%=post.id%>/edit">Edit</a>
    <form method="POST" action="/posts/<%=post.id%>?_method=DELETE">
      <button>Delete Post</button>
    </form>
  </div>
</div>

    <%}%>
    <br>
    <br>
    <a href="/posts/new" class="new-post-btn">Create New Post</a>

    
</body>
</html>